body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ffcc00;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

nav ul li a:hover {
    color: #e6b800;
}

h1, h2 {
    color: #333;
    margin: 0;
}

main {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.menu {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

.item {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.item img {
    width: 100%;
    height: auto;
}

.info {
    padding: 10px;
}

.name {
    display: block;
    font-size: 18px;
    margin: 10px 0;
}

.price {
    color: #888;
    font-size: 16px;
}

button {
    background-color: #ffcc00;
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

button:hover {
    background-color: #e6b800;
}

#receipt {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.receipt-header, .receipt-body {
    margin-bottom: 20px;
}

.receipt-header p {
    text-align: center;
    margin: 5px 0;
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    border-bottom: 2px solid #ddd;
}

th, td {
    padding: 5px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

#history-page {
    padding: 20px;
    width: 100%;
}

.history-container {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-height: 400px;
    overflow-y: auto;
}

#transaction-history {
    list-style: none;
    padding: 0;
}

#transaction-history li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.transaction-details {
    display: flex;
    justify-content: space-between;
}

.transaction-items ul {
    list-style: disc;
    margin-left: 20px;
}
